<div class="container-fluid container-gray py-5">
    <div class="container">
        <div class="row">
            <%= render 'admin_panel/sidebar' %>
            <div class="col-xl-8">
                <%= render 'admin_panel/statistics' %>
                <div class="card">
                    <div class="card-body">
                <h3 class="mb-3">All Users</h3>
                  <table class="table table-bordered">
                    <tbody>
                      <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                      </tr>
                    <% User.all.each do |u| %>
                      <tr>
                        <td><%= u.name %></td>
                        <td><%= u.email %></td>
                        <td><%= u.phone_number %></td>
                      </tr>
                    <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
        </div>   
    </div>    
</div>