<div class="container-fluid bg-light py-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h1 class="font-40 mb-3">Boonbee<br>
                     For your dreams & goals</h1>
                     <h4 class="home-header-sub mb-3">Crowdfunding is here to help you achieve your <br> dreams by raising funds from generous people <br>all over the world who believe in you</h4>
                     <a href="#" class="btn btn-primary home-header-btn">Start giving Now</a>
                      <a href="#" class="btn btn-link tranparent-btn ">Learn how it works</a>
                      <div class="row mt-4 text-center">
                          
                          <div class="col-3">
                              <h3 class="mb-0">$9,478</h3>
                              <p>Total funds</p>
                          </div>
                          <div class="col-3">
                              <h3 class="mb-0">$9,4788</h3>
                              <p>Available funds</p>
                          </div>
                      </div>
            </div>
            <div class="col-md-6">
                <img src="dream.jpg" class="img-fluid">
            </div>
        </div>
    
</div>
</div>
<div class="plan-setction py-5">
    <div class="container">
        
   
    <h1 class="weight-600 mb-3 text-center">Subscribe to a monthly donations plan</h1>
    <p class="text-center mb-0">Monthly commitment of helping others to make their dreams come true will</p>
    <p class="text-center">boost your financial karma.</p>

        <div class="col-md-8 mx-auto my-5">
            <div class="row">
            <div class="col-md-2 col-4 mb-2 offset-md-1">
                <div class="plan-box">
                    <h4 class="text-white text-center mb-0 weight-700">$25</h4>
                    <p class="text-white text-center font-13 weight-500">Little Helper</p>
                </div>
            </div>
            <div class="col-md-2 col-4 mb-2">
                <div class="plan-box">
                    <h4 class="text-white text-center mb-0 weight-700">$50</h4>
                    <p class="text-white text-center font-13 weight-500">Cheerful Giver</p>
                </div>
            </div>
            <div class="col-md-2 col-4 mb-2">
                <div class="plan-box">
                    <h4 class="text-white text-center mb-0 weight-700">$100</h4>
                    <p class="text-white text-center font-13 weight-500">Big-Hearted</p>
                </div>
            </div>
            <div class="col-md-2 col-4 mb-2">
                <div class="plan-box">
                    <h4 class="text-white text-center mb-0 weight-700">$500</h4>
                    <p class="text-white text-center font-13 weight-500">Benevolent</p>
                </div>
            </div>
            <div class="col-md-2 col-4 mb-2">
                <div class="plan-box">
                    <h4 class="text-white text-center mb-0 weight-700">$1000</h4>
                    <p class="text-white text-center font-13 weight-500">Philanthropist</p>
                </div>
            </div>
        </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="card p-3 d-block">
                    <div class="row align-items-center">
                        <div class="col-1 pr-1">
                            <img src="/charity.png" class="img-fluid">
                        </div>
                        <div class="col-11 pl-1">
                            <p class="mb-0">Latest contributors</p>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-9">
                            <div class="row align-items-center">
                                <div class="col-2 pr-1">
                                    <div class="avatar"></div>
                                </div>
                                <div class="col-10 pl-1">
                                   <span class="font-15 mb-0 text-dark"> John Jaqobis</span> <span class="font-15">contributed to</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-3 text-right">
                            <p class="mb-0 line-height-9"><span class="text-dark">0</span> <span class="small">Votes</span></p>
                            <span class="small">a month ago</span>
                        </div>
                         
                    </div>
                    <div class="row my-2">
                        <div class="col-9">
                            <div class="row align-items-center">
                                <div class="col-2 pr-1">
                                    <div class="avatar"></div>
                                </div>
                                <div class="col-10 pl-1">
                                   <span class="font-15 mb-0 text-dark"> John Jaqobis</span> <span class="font-15">contributed to</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-3 text-right">
                            <p class="mb-0 line-height-9"><span class="text-dark">0</span> <span class="small">Votes</span></p>
                            <span class="small">a month ago</span>
                        </div>
                         
                    </div>
                    <div class="row my-2">
                        <div class="col-9">
                            <div class="row align-items-center">
                                <div class="col-2 pr-1">
                                    <div class="avatar"></div>
                                </div>
                                <div class="col-10 pl-1">
                                   <span class="font-15 mb-0 text-dark"> John Jaqobis</span> <span class="font-15">contributed to</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-3 text-right">
                            <p class="mb-0 line-height-9"><span class="text-dark">0</span> <span class="small">Votes</span></p>
                            <span class="small">a month ago</span>
                        </div>
                         
                    </div>
                    <div class="row my-2">
                        <div class="col-9">
                            <div class="row align-items-center">
                                <div class="col-2 pr-1">
                                    <div class="avatar"></div>
                                </div>
                                <div class="col-10 pl-1">
                                   <span class="font-15 mb-0 text-dark"> John Jaqobis</span> <span class="font-15">contributed to</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-3 text-right">
                            <p class="mb-0 line-height-9"><span class="text-dark">0</span> <span class="small">Votes</span></p>
                            <span class="small">a month ago</span>
                        </div>
                         
                    </div>
                    <div class="row my-2">
                        <div class="col-9">
                            <div class="row a
                            lign-items-center">
                                <div class="col-2 pr-1">
                                    <div class="avatar"></div>
                                </div>
                                <div class="col-10 pl-1">
                                   <span class="font-15 mb-0 text-dark"> John Jaqobis</span> <span class="font-15">contributed to</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-3 text-right">
                            <p class="mb-0 line-height-9"><span class="text-dark">0</span> <span class="small">Votes</span></p>
                            <span class="small">a month ago</span>
                        </div>
                         
                    </div>
                    <div class="row my-2">
                        <div class="col-9">
                            <div class="row align-items-center">
                                <div class="col-2 pr-1">
                                    <div class="avatar"></div>
                                </div>
                                <div class="col-10 pl-1">
                                   <span class="font-15 mb-0 text-dark"> John Jaqobis</span> <span class="font-15">contributed to</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-3 text-right">
                            <p class="mb-0 line-height-9"><span class="text-dark">0</span> <span class="small">Votes</span></p>
                            <span class="small">a month ago</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card p-3 d-block">
                    <div class="row align-items-center">
                        <div class="col-1 pr-1">
                            <img src="/trophy.svg" class="img-fluid">
                        </div>
                        <div class="col-11 pl-1">
                            <p class="mb-0">All time contributing leaders</p>
                        </div>
                    </div>
                    
                     <div class="row my-2">
                        <div class="col-8">
                            <div class="row align-items-center">
                                <div class="col-1 pr-1">
                                    <p class="mb-0">1</p>
                                </div>
                                <div class="col-2 pr-1 pl-1">
                                    <div class="avatar"></div>
                                </div>
                                <div class="col-9 pl-1">
                                   <p class="font-15 mb-0 text-dark line-height-9"> John Jaqobis</p>
                                   <p class="small mb-0">Chisinau, Moldova</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 text-right">
                            <p class="mb-1 line-height-9 text-primary">1000</p>
                            <p class="mb-0 line-height-9 font-11">Votes</p>
                        </div>
                        <div class="col-2 text-center pr-1">
                            <p class="mb-1 line-height-9">4</p>
                            <p class="mb-0 line-height-9 font-11">Contributions</p>
                        </div>
                         
                    </div>
                     <div class="row my-2">
                        <div class="col-8">
                            <div class="row align-items-center">
                                <div class="col-1 pr-1">
                                    <p class="mb-0">2</p>
                                </div>
                                <div class="col-2 pr-1 pl-1">
                                    <div class="avatar"></div>
                                </div>
                                <div class="col-9 pl-1">
                                   <p class="font-15 mb-0 text-dark line-height-9"> John Jaqobis</p>
                                   <p class="small mb-0">Chisinau, Moldova</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 text-right">
                            <p class="mb-1 line-height-9 text-primary">1000</p>
                            <p class="mb-0 line-height-9 font-11">Votes</p>
                        </div>
                        <div class="col-2 text-center pr-1">
                            <p class="mb-1 line-height-9">4</p>
                            <p class="mb-0 line-height-9 font-11">Contributions</p>
                        </div>
                         
                    </div>
                      <div class="row my-2">
                        <div class="col-8">
                            <div class="row align-items-center">
                                <div class="col-1 pr-1">
                                    <p class="mb-0">3</p>
                                </div>
                                <div class="col-2 pr-1 pl-1">
                                    <div class="avatar"></div>
                                </div>
                                <div class="col-9 pl-1">
                                   <p class="font-15 mb-0 text-dark line-height-9"> John Jaqobis</p>
                                   <p class="small mb-0">Chisinau, Moldova</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 text-right">
                            <p class="mb-1 line-height-9 text-primary">1000</p>
                            <p class="mb-0 line-height-9 font-11">Votes</p>
                        </div>
                        <div class="col-2 text-center pr-1">
                            <p class="mb-1 line-height-9">4</p>
                            <p class="mb-0 line-height-9 font-11">Contributions</p>
                        </div>
                         
                    </div>
                     <div class="row my-2">
                        <div class="col-8">
                            <div class="row align-items-center">
                                <div class="col-1 pr-1">
                                    <p class="mb-0">4</p>
                                </div>
                                <div class="col-2 pr-1 pl-1">
                                    <div class="avatar"></div>
                                </div>
                                <div class="col-9 pl-1">
                                   <p class="font-15 mb-0 text-dark line-height-9"> John Jaqobis</p>
                                   <p class="small mb-0">Chisinau, Moldova</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 text-right">
                            <p class="mb-1 line-height-9 text-primary">1000</p>
                            <p class="mb-0 line-height-9 font-11">Votes</p>
                        </div>
                        <div class="col-2 text-center pr-1">
                            <p class="mb-1 line-height-9">4</p>
                            <p class="mb-0 line-height-9 font-11">Contributions</p>
                        </div>
                         
                    </div>
                     <div class="row my-2">
                        <div class="col-8">
                            <div class="row align-items-center">
                                <div class="col-1 pr-1">
                                    <p class="mb-0">5</p>
                                </div>
                                <div class="col-2 pr-1 pl-1">
                                    <div class="avatar"></div>
                                </div>
                                <div class="col-9 pl-1">
                                   <p class="font-15 mb-0 text-dark line-height-9"> John Jaqobis</p>
                                   <p class="small mb-0">Chisinau, Moldova</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 text-right">
                            <p class="mb-1 line-height-9 text-primary">1000</p>
                            <p class="mb-0 line-height-9 font-11">Votes</p>
                        </div>
                        <div class="col-2 text-center pr-1">
                            <p class="mb-1 line-height-9">4</p>
                            <p class="mb-0 line-height-9 font-11">Contributions</p>
                        </div>
                         
                    </div>
                     <div class="row my-2">
                        <div class="col-8">
                            <div class="row align-items-center">
                                <div class="col-1 pr-1">
                                    <p class="mb-0">6</p>
                                </div>
                                <div class="col-2 pr-1 pl-1">
                                    <div class="avatar"></div>
                                </div>
                                <div class="col-9 pl-1">
                                   <p class="font-15 mb-0 text-dark line-height-9"> John Jaqobis</p>
                                   <p class="small mb-0">Chisinau, Moldova</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 text-right">
                            <p class="mb-1 line-height-9 text-primary">1000</p>
                            <p class="mb-0 line-height-9 font-11">Votes</p>
                        </div>
                        <div class="col-2 text-center pr-1">
                            <p class="mb-1 line-height-9">4</p>
                            <p class="mb-0 line-height-9 font-11">Contributions</p>
                        </div>
                    </div>
                </div>
            </div>
             
        </div>

</div>
 </div>
 <div class="container-fluid bg-light py-5">
     <div class="container">
         <% Campaign.all.order("created_at DESC").includes(:user).each do |c| %>
            <div class="card my-3">
             <div class="row">
                 <div class="col-lg-5 col-xl-4 col-md-12">
                     <div class="fund-image" style="background-image:url('<%= c.image.url %>')">
                         <div class="fund-image-overlay px-2">
                             <div class="campaign-like">
                                 <div class="row">
                                     <div class="col-9">
                                         <span class="text-light"> <i class="far fa-clock"></i> Ended <%= c.updated_at.strftime('%B, %y') %></span>
                                     </div>
                                     <div class="col-3 text-right">
                                           <span class="text-light">1 <i class="far fa-heart"></i></span>
                                     </div>
                                 </div>
                             </div>
                             <div class="campaign-avatar">
                                 <div class="d-inline-flex">
                                         <div class="avatar mr-2" style="background-image:url('<%= c.user.profile_pic.url %>')">
                                         </div>
                                         <div class="ml-1 mt-2">
                                             <p class="text-light mb-0 line-height-9"><%= c.user.username %></p>
                                          <p class="mb-0 text-light small"><i class="fas fa-map-marker-alt"></i> <%= c.user.location %></p>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                 <div class="col-lg-7 col-xl-8 col-md-12">
                     <div class="p-2">
                         <span class="text-dark"><%= c.name %></span> <span class="small"><%= time_ago_in_words(c.updated_at)  %> ago</span>
                         <p class="p-line-3 my-2"><%= c.occ_details.truncate(300) %></p>
                         <div class="my-2">
                             <div class="progress">
                                 <div class="progress-bar bg-success" style="width:20%"></div>
                            </div><br>
                            <small></small>
                         </div>
                         <a class="badge badge-pill badge-primary"><%= c.occ_type %></a>
                     </div>
                 </div>
                </div>
             </div>
         <% end %>
     </div>
 </div>