<div class="container-fluid container-gray py-5">
    <div class="container">
        <div class="row">
            <%= render 'admin_panel/sidebar' %>
            <div class="col-xl-8">
              <%= render 'admin_panel/statistics' %>
              <div class="card">
                <div class="card-body">
                  <h3 class="mb-3">All Transactions</h3>
                  <h3 class="mb-3">Date</h3>
                  <h2><strong><%= Time.now.strftime("%-m/%-d/%Y") %></strong></h2>
                  <div class="table-responsive">
                    <table class="table table-bordered">
                      <tr>
                        <th>Occasion Event</th>
                        <th>Total Received</th>
                        <th>End Date</th>
                        <th>Notifications</th>
                        <th>Manage Event</th>
                      </tr>
                      <% @campaigns.each do |c| %>
                      <% received_total = 0 %>
                        <% c.donations.each do |d| %>
                            <% received_total = received_total + d.amount %>
                        <% end %>
                              <tr>
                                <td><%= link_to(c.name, campaign_path(c)) %></td>
                                <td><%= received_total %> $</td>
                                <td><%= c.occ_date %>
                                  <%#= d.campaign.occ_date.strftime("%-m/%-d/%Y") %></td>
                                <td><%#= d.updated_at.strftime('%B %e ,%Y') %>-</td>
                                <td style="color: red;"><%#= link_to("View Invoice", Stripe::Charge.retrieve(d.stripe_id).receipt_url, target: :_blank ) if d.stripe_id.present? %>Suspend</td>
                              </tr>
                      <% end %>
                    </table>
                  </div>
                </div>
              </div>
            </div>
        </div>   
    </div>    
</div>

