<div class="container-fluid bg-light py-5">
  <div class="donation-form">
    <h4 class="text-center mb-3">Boonbee Pay</h4>

<% if flash[:error].present? %>
  <div id="error_explanation">
    <p><%= flash[:error] %></p>
  </div>
<% end %>

<%= form_for @donation do |f| %>
    <%= f.hidden_field :user_id, { :value => current_user.id } %>
    <%= f.hidden_field :campaign_id, { :value => params[:campaign_id] } %>
    <%= f.hidden_field :request_id, { :value => params[:request_id] } %>
    <% c = Campaign.find(params[:campaign_id])%>
    <% receiver = c.user.username %>
    <div class="field">
      <%#= f.label "Enter amount in dollars" %>
      <%= f.number_field :amount, {class: 'form-control mb-3', placeholder: 'Enter amount in dollars', value: params[:amount]} %>
    </div>
    <div class="field">
      <%#= f.label "Enter amount in dollars" %>
      <%= f.text_field :message, class: 'form-control m b-3', placeholder: "Leave a message for #{receiver}" %>
    </div>
    <div class="row mt-3">
      <div class="col-6">
        Service Fee <i class="fas fa-question-circle"></i>
      </div>
      <div class="col-6 text-right">
        $0
      </div>
    </div>
    <hr>
    <div class="row mb-3">
      <div class="col-6">
        Total
      </div>
      <div class="col-6 text-right font-weight-bold">
        $<span class="total_text">0</span>
      </div>
    </div>
    <div class="actions">
     <center> <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Contribute to this campaign"
          data-amount="500"
          data-locale="auto">
        // Stripe.setPublishableKey('<%#= ENV["stripe_publishable_key"] %>');
     </script></center>
    </div>
    <center class="mt-1">You won't be charged yet</center>
<% end %>

</div>
</div>
<script>
function donation(){

}
  $(document).ready(function() {
    var damount = $("#donation_amount").val();
    $('.total_text').html(damount);
      $('.actions').html('<script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="<%= Rails.configuration.stripe[:publishable_key] %>" data-description="A month\'s subscription" data-amount="' + $("#donation_amount").val() * 100 + '" data-locale="auto"><\/script>');
    $("#donation_amount").keyup(function(){
  var d_amount = $("#donation_amount").val();
      $('.actions').html('<script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="<%= Rails.configuration.stripe[:publishable_key] %>" data-description="A month\'s subscription" data-amount="' + $("#donation_amount").val() * 100 + '" data-locale="auto"><\/script>');
      if(d_amount == ""){
        $('.total_text').html("0");
      }
      else{
        $('.total_text').html(d_amount);
      }
    })
  });
</script>
