<% if flash[:error].present? %>
  <div id="error_explanation">
    <p><%= flash[:error] %></p>
  </div>
<% end %>

<%= form_for @donation do |f| %>
    <%= f.hidden_field :user_id, { :value => current_user.id } %>
    <%= f.hidden_field :campaign_id, { :value => params[:campaign_id] }%>
    <div class="field">
      <%= f.number_field :amount %>  
    </div>
    <div class="actions">
      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="A month's subscription"
          data-amount="500"
          data-locale="auto"></script>
    </div>
<% end %>

<script>
  $(document).ready(function() {
    $("#donation_amount").keyup(function(){
      $('.actions').html('<script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="<%= Rails.configuration.stripe[:publishable_key] %>" data-description="A month\'s subscription" data-amount="' + $("#donation_amount").val() * 100 + '" data-locale="auto"><\/script>');
    })
  });
</script>





