
<%= form_for(@campaign) do |f| %>
<%#= error_messages_for(f.object) %>
    <div class="row">
        <div class="col-md-4">
            <h4>Whats the Occasion?</h4>
            <small>Select the category of occasion  class adds borders on all sides of the table and the cells</small>
        </div>
        <div class="col-md-8">
             <label class="mb-0">Whats the Occasion?</label>
           <%= f.select(:occ_type, Campaign.occ_types.keys.to_a{ |i| [i.id]},{ include_blank: "Select One" }, {class: 'form-control'}) %>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <h4>Occasion date</h4>
            <small>Select the category of occasion  class adds borders on all sides of the table and the cells</small>
        </div>
        <div class="col-md-8">
            <label class="mb-0">Occasion date</label>
           <%= f.date_field(:occ_date, {class: "form-control"})%>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <h4>Details about Occasion</h4>
             <small>Select the category of occasion  class adds borders on all sides of the table and the cells</small>
        </div>
        <div class="col-md-8">
            <label class="mb-0">Details about Occasion</label>
             <%= f.text_area(:occ_details, {class: "form-control", placeholder: "Details about occasion" }) %>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <h4>Occasions Funds</h4>
             <small>Select the category of occasion  class adds borders on all sides of the table and the cells</small>
        </div>
        <div class="col-md-8">
            <label class="mb-0">Occasions Funds</label>
            <%= f.text_field(:occ_funds, {class: 'form-control', placeholder: "Occasion Funds" }) %>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <h4>Campaign Picture</h4>
             <small>Select the category of occasion  class adds borders on all sides of the table and the cells</small>
        </div>
        <div class="col-md-8">
            <div class="gallery"></div>
                <% if f.object.image.present? %>
                    <label for="campaign_image" class="new-frm-img">
                        <div class="fas fa-image mb-3">
                           <%= image_tag f.object.image.url(:small)%>
                           <%= f.file_field :image %>
                        </div>
                    </label>
                <% else %>    
                      <div class="label_preview">
                        <center><div class="img-icon"><i class="fas fa-image mb-3"></i></div></center>
                        <center><small class="text-center">Upload an image here, or select a file.</small></center>
                        <center><small class="text-muted">It must be a JPG, PNG, GIF, or JPEG.</small></center>
                        <center><small style="color:red;">Image is Required</small></center>
                        <%= f.file_field :image %>
                      </div>
                  <% end %>
                </label>
                <label for="campaign_image">
                  <div class="new-frm-preview d-non"></div>
                </label>
                <div class="img-btn">
                  <!--<input type="file" id="campaign_image">-->
                </div>
        </div>
    </div>
  
       <%# if f.object.image.present? %>
              <%#= image_tag f.object.image.url(:small)%>
        <%# end %>
          <%#= f.file_field :image, class: 'form-control campaign-form' %>
          
         
              
          <!--<input type="file" id="campaign_image">-->
    
      <%= f.submit('Create Campaign', {class: 'btn btn-primary'}) %>
    
<% end %>









<script>
    function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#blah').attr('src', e.target.result);
        }

        reader.readAsDataURL(input.files[0]);
    }
}

$(".imgInp").change(function(){
    readURL(this);
});
</script>