<% if !@campaign.errors.empty? %>
    <div id="error-explanation">
        <h2><%= pluralize(@campaign.errors.size, "error") %>prohibited this record from being saved</h2>
        <p>There were problems with the following fields:</p>
        <ul>
            <% @campaign.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
<% end %>

    <div class="row">
        <div class="col-md-4">
            <h4>Enter a Name!</h4>
            <small>Select the category of occasion  class adds borders on all sides of the table and the cells</small>
        </div>
        <div class="col-md-8">
             <label class="mb-0">Enter a Name!</label>
           <%= f.text_field(:name,  {class: 'form-control'}) %>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <h4>Whats the Occasion?</h4>
            <small>Select the category of occasion  class adds borders on all sides of the table and the cells</small>
        </div>
        <div class="col-md-8">
             <label class="mb-0">Whats the Occasion?</label>
           <%= f.select(:occ_type, Campaign.occ_types.keys.to_a{ |i| [i.id]},{ include_blank: "Select One",selected: params[:occ_type]}, {class: 'form-control'}) %>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <h4>Occasion date</h4>
            <small>Select the category of occasion  class adds borders on all sides of the table and the cells</small>
        </div>
        <div class="col-md-8">
            <label class="mb-0">Occasion date</label>
           <%= f.date_field(:occ_date, {class: "form-control",value: params[:occ_date]})%>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <h4>Details about Occasion</h4>
             <small>Select the category of occasion  class adds borders on all sides of the table and the cells</small>
        </div>
        <div class="col-md-8">
            <label class="mb-0">Details about Occasion</label>
             <%= f.text_area(:occ_details, {class: "form-control", placeholder: "Details about occasion",value: params[:occ_details] }) %>
        </div>
</div>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <h4>Campaign Picture</h4>
             <small>Select the category of occasion  class adds borders on all sides of the table and the cells</small>
        </div>
        <div class="col-md-8">
            
             <div class="profile-change-icon">
                              <label for="file-input">
                                     <img id="blah" src="/n-image.png" alt="your image" class="setting-profile-image" width="200px" height="200px" />
                                      <%= f.file_field :image, id: 'file-input', class: 'imgInp d-none' %>
                                  <span class="middle text-center"><i class="fas fa-camera"></i></span>
                                </label>  
            </div> 
            
            
            
                <%# if f.object.image.present? %>
                   <%#= image_tag f.object.image.url(:small)%>
                   <%#= f.file_field :image %>
                <%# else %>    
                   <%#= f.file_field :image %>
                <%# end %>
               
                
        </div>
    </div>
    









<script>
    function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#blah').attr('src', e.target.result);
        }

        reader.readAsDataURL(input.files[0]);
    }
}

$(".imgInp").change(function(){
    readURL(this);
});





</script>