<div class="container-fluid py-4 bg-light">
    <div class="container">
        <% if @campaigns != [] %>
            <table class="table table-bordered">
                    <tr>
                        <th>Creator</th>
                        <th>Occasion</th>
                        <th>Date</th>
                        <th>Details</th>
                        <th>Funds</th>
                        <th>Actions</th>
                    </tr>
                
                
                    <% @campaigns.each do |campaign|%>
                        <tr>
                            <td><%= campaign.user.username %></td>
                            <td><%= campaign.occ_type %></td>
                            <td><%= campaign.occ_date %></td>
                            <td><%= campaign.occ_details %></td>
                            <td><%= campaign.occ_funds %></td>
                            <td><%= link_to "Show", campaign%> | <%= link_to "Edit", edit_campaign_path(campaign)%> | <%= link_to "Delete", campaign,method: :delete%></td>
                        </tr>
                    <% end %>
            </table>
        <% else %>
            <p>You have no campaigns raised!.</p>
        <% end %>
    </div>
</div>
   

